body{
  position: relative;
}

.navbar {
  background-color: #FFA500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.social-media {
  margin-left: 20px;
}

.social-icon {
  height: 31px; 
  margin-right: 30px; 
}

.logo img {
  max-width: 150px; 
}

.login-recipes {
  margin-right: 40px;
}


.login-button, .recipes-button {
  padding: 12px 24px;
  color: #f8f8f8;
  font-size: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.recipes-button:hover, .login-button:hover {
  background-color: #f8f8f8;
  color: #FFA500;
}

.login-button {
  background-color: transparent;
  border-radius: 20px;
}

.recipes-button {
  background-color: transparent;
  border-radius: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

.container {
  background-color: #FFA500;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px; 
  margin-top: 60px;
  width: 100%;
}

.image-section {
  flex: 1; 
}

.image-section img {
  width: 90%; 
  height: auto; 
}

.text-section {
  margin-top: 60px;
  flex: 1; 
  /* padding-left: 20px;  */
}

.text-section p {
  color: #F5F5F5;
  font-size: 96px;
  margin: 10px 0; 
}


.category-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 75px;
}

.category {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  overflow: hidden; 
  margin: 20px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.pc-title {
  color: #FFA500;;
  font-size: 64px; 
  margin-left: 40px;
}

.category p {
  color: #FFA500;;
  font-weight: lighter;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.contact-section {
  width: 100%;
  background: #FFA500;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.contact-section h2 {
  font-size: 28px;
  color: #F8F8F8;
}

.contact-section p {
  font-size: 16px;
  color: #F8F8F8;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #F8F8F8;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: calc(50%-10px);
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

button[type="submit"] {
  background-color: #ff6f00;
  color: #F8F8F8;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff9500;
}

.site-footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-links .social-icon-link {
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
}

.social-media-links .social-icon-link:last-child {
  margin-right: 0;
}

header {
  margin-top: 80px;
  color: #FFA500;
  font-size: 75px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  z-index: 9998;
}

main {
  padding: 20px 20px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.recipe-card {
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.recipe-card:hover{
  transform: translateY(-5px);
  z-index: 2;
}

.recipe-card img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.recipe-info h2{
  padding: 10px;
}

.recipe-info p {
  font-size: 20px;
  margin: 5px 0;
}

.filter-button-container {
  position: relative;
  display: inline-block;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
}

.filter-dropdown button {
  display: block;
  margin: 5px 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-dropdown button:hover {
  color: #007bff;
  font-weight: bold;
}
